@model DeltaxApplication.ViewModel.NewMovieViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/chosen.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.js"></script>

<script src="~/Scripts/Addactor.js"></script>
<script src="~/Scripts/Modalopen.js"></script>
<script src="~/Scripts/Addproducer.js"></script>

<style>
    .input-validation-error {
        border: 1px solid red;
    }
</style>










@using (Html.BeginForm("Create", "Movie", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(n => n.Movies.Name)
        @Html.TextBoxFor(n => n.Movies.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Movies.Name)
        @if (Model.Movies != null)
        {
            @Html.HiddenFor(n => n.Movies.Id, new { @class = "form-control" })
        }
    </div>
    <div class="form-group">
        @Html.LabelFor(n => n.Movies.Plot)
        @Html.TextBoxFor(n => n.Movies.Plot, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Producer</label>
        <br />
        @*  @Html.LabelFor(n => n.movies.Producer.Name)*@
        @Html.DropDownListFor(n => n.Movies.ProducerId, new SelectList(Model.Producers, "Id", "Name"), new { @class = "form-control", id = "producerddl", style = "width: 300px;" })

        <button type="button" id="prodid">+</button>
    </div>

    <div class="form-group">
        @Html.LabelFor(n => n.Movies.Year_Of_Release)
        @Html.TextBoxFor(n => n.Movies.Year_Of_Release, new { @class = "form-control" })
        @Html.ValidationMessageFor(n => n.Movies.Year_Of_Release)
    </div>
    <div class="form-group">


        @Html.LabelFor(n => n.Movies.Actors)
        <br />
        @Html.ListBoxFor(n => n.Movies.SelectedActorIds, new MultiSelectList(Model.Actors, "Id", "Name"), new { multiple = "multiple", id = "actorddl", style = "width: 600px;" })

        <button type="button" id="actid">+</button>
    </div>
    <div class="col-md-10">
        <input type="file" id="image1" name="image1" size="25" />
    </div>
    <br />
    <br />
    <button type="submit" class="btn btn-primary">Save</button>


    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog ">




            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Actor</h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <form id="actorform">
                        Name: <input type="text" name="Name" id="actornameid" /> <br />
                        Sex: <input type="radio" name="gender" value="Male" id="actormaleid" checked> Male
                        <input type="radio" name="gender" value="Female" id="actorfemaleid"> Female
                        <input type="radio" name="gender" value="Other" id="actorotherid"> Other <br />
                        DateofBirth:
                        <input type="date" name="bday" id="actorbdayid">
                        <br />
                        Bio<br />
                        <textarea rows="4" cols="50" id="actorbioid">

                            </textarea>

                    </form>
                    <div class="loader col-md-offset-4"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-primary" id="actorbuttonid">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>


    <script type="text/javascript">

        function validateForm() {
            var x = document.forms["producerformname"]["Name"].value;
            if (x == "") {
                alert("Name must be filled out");
                return false;
            }
        }



    </script>








    <div class="modal fade" id="myModalproducer" role="dialog">
        <div class="modal-dialog ">




            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create Producer</h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <form id="producerform" name="producerformname" onsubmit="return validateForm()" method="post" class="form-horizontal">

                        Name: <input type="text" class="form-control " name="Name" id="producernameid" /> <br />
                        Sex: <input type="radio" name="gen" value="Male" id="producermaleid" checked> Male
                        <input type="radio" name="gen" value="Female" id="producerfemaleid"> Female
                        <input type="radio" name="gen" value="Other" id="producerotherid"> Other <br />
                        DateofBirth:
                        <input type="date" name="bday" id="producerbdayid">
                        <br />
                        Bio<br />
                        <textarea rows="4" cols="50" id="producerbioid">

                            </textarea>

                    </form>
                    <div class="loader col-md-offset-4"></div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn-primary" id="producerbuttonid">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>
    <script>
        $('#actorddl').chosen();
        $('#producerddl').chosen();
    </script>




}

